{
    "openapi": "3.0.0",
    "info": {
        "title": "BE Form Pengajuan API",
        "description": "API Documentation for BE Form Pengajuan",
        "contact": {
            "email": "admin@budiutamamandiri.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://be-savana.budiutamamandiri.com",
            "description": "Production API Server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/api/attachments/upload": {
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Upload file attachment",
                "description": "Upload a file and create attachment record",
                "operationId": "a73aae8f54b9579e65b8cfc320667611",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "properties": {
                                    "file": {
                                        "description": "File to upload (max 10MB)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "submission_id": {
                                        "description": "ID of related submission",
                                        "type": "integer"
                                    },
                                    "type": {
                                        "description": "File type category",
                                        "type": "string",
                                        "enum": [
                                            "document",
                                            "image",
                                            "video",
                                            "audio",
                                            "other"
                                        ]
                                    },
                                    "description": {
                                        "description": "File description",
                                        "type": "string",
                                        "maxLength": 255
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "File uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Attachment"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "File uploaded successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "413": {
                        "description": "File too large"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User login",
                "description": "Login user and get access token",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "password"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "admin"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login berhasil."
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abcd1234..."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "username": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "Revoke current access token",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logout berhasil."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get authenticated user",
                "description": "Get current authenticated user information",
                "operationId": "b5de204f5e452ef51327c691aa99e77c",
                "responses": {
                    "200": {
                        "description": "User information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/reviews": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Get submissions for review",
                "description": "Retrieve list of submissions that need review or are assigned to current user",
                "operationId": "9cfedb9e60a10482ea2d0017aa8b381d",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by review status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "approved",
                                "rejected"
                            ]
                        }
                    },
                    {
                        "name": "assigned_to",
                        "in": "query",
                        "description": "Filter by assigned reviewer ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Reviews retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Submission"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/reviews/{id}": {
            "post": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Submit review decision",
                "description": "Submit approval or rejection for a submission review",
                "operationId": "5ae4510117d717bd7be0dab0a7804ee3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Submission ID to review",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status",
                                    "reviewerId"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "approved",
                                            "rejected"
                                        ],
                                        "example": "approved"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Review notes and feedback"
                                    },
                                    "reviewerId": {
                                        "type": "string",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Submission"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Review submitted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized to review this submission"
                    },
                    "404": {
                        "description": "Submission not found"
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/submissions": {
            "get": {
                "tags": [
                    "Submissions"
                ],
                "summary": "Get list of submissions",
                "description": "Retrieve paginated list of submissions with optional filters",
                "operationId": "1ab2c30900bcf0239d12dadb880c27d4",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by submission status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "submitted",
                                "confirmed",
                                "review",
                                "validation",
                                "completed",
                                "rejected"
                            ]
                        }
                    },
                    {
                        "name": "workflow_stage",
                        "in": "query",
                        "description": "Filter by workflow stage",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "review",
                                "validation",
                                "completed"
                            ]
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Filter by user ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in title or description",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Submissions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Submission"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Submissions"
                ],
                "summary": "Create new submission",
                "description": "Create a new submission with content items and attachments",
                "operationId": "86842154f1dffa008adb43a94e7c19a5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Sample Submission"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "This is a sample submission description"
                                    },
                                    "content_items": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "submitted",
                                            "confirmed"
                                        ],
                                        "example": "draft"
                                    },
                                    "workflow_stage": {
                                        "type": "string",
                                        "enum": [
                                            "form",
                                            "review",
                                            "validation",
                                            "completed"
                                        ],
                                        "example": "form"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Submission created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Submission"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Submission created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "User Management"
                ],
                "summary": "Get list of users",
                "description": "Retrieve paginated list of users (Admin/SuperAdmin only)",
                "operationId": "566aed8efb436ca506e0ef51a032ecd9",
                "parameters": [
                    {
                        "name": "role",
                        "in": "query",
                        "description": "Filter by user role",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "admin",
                                "user",
                                "reviewer",
                                "validator",
                                "superadmin",
                                "form",
                                "review",
                                "validasi",
                                "rekap"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in name, email, or username",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Users retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/User"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Admin access required"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Management"
                ],
                "summary": "Create new user",
                "description": "Create a new user account (Admin/SuperAdmin only)",
                "operationId": "be551c1d694a01c164966f58bfa77013",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "username",
                                    "password",
                                    "role"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "username": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "johndoe"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "example": "password123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "admin",
                                            "user",
                                            "reviewer",
                                            "validator",
                                            "superadmin",
                                            "form",
                                            "review",
                                            "validasi",
                                            "rekap"
                                        ],
                                        "example": "user"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - Admin access required"
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/validations": {
            "get": {
                "tags": [
                    "Validations"
                ],
                "summary": "Get submissions for validation",
                "description": "Retrieve list of submissions that need validation (workflow_stage = validation)",
                "operationId": "151a55deace0c03d1a672f81996179c7",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by validation status (custom app logic, not always present)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assigned_to",
                        "in": "query",
                        "description": "Filter by assigned validator user ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Submissions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Submission"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 2
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/validations/{id}": {
            "post": {
                "tags": [
                    "Validations"
                ],
                "summary": "Submit validation decision",
                "description": "Submit validation, publish, or rejection for an approved content item",
                "operationId": "4818337d143c647e309cee39f20f1521",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Content Item ID to validate",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status",
                                    "validatorId"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "validated",
                                            "published",
                                            "rejected"
                                        ],
                                        "example": "validated"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Validation notes and feedback"
                                    },
                                    "validatorId": {
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "publishDate": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-08-15"
                                    },
                                    "publishedContent": {
                                        "type": "object",
                                        "example": {
                                            "platform": "website",
                                            "scheduled": true
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ContentItem"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation submitted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized to validate this content item"
                    },
                    "404": {
                        "description": "Content item not found"
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/validations/{id}/assign": {
            "post": {
                "tags": [
                    "Validations"
                ],
                "summary": "Assign validator to content item",
                "description": "Assign a validator to a content item for validation",
                "operationId": "a2932beb1aeff681e05138eb1e64184b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Content Item ID to assign validator",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "assigneeId"
                                ],
                                "properties": {
                                    "assigneeId": {
                                        "description": "ID of user to assign as validator",
                                        "type": "string",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation assigned successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ContentItem"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation assigned successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized to assign validations"
                    },
                    "404": {
                        "description": "Content item not found"
                    },
                    "422": {
                        "description": "Content item not ready for validation assignment"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/validations/validators": {
            "get": {
                "tags": [
                    "Validations"
                ],
                "summary": "Get list of available validators",
                "description": "Retrieve list of users who can validate content",
                "operationId": "90946702e2dab1aa9a214b7167c6adfb",
                "responses": {
                    "200": {
                        "description": "Validators retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/validations/reviewed-submissions": {
            "get": {
                "tags": [
                    "Validations"
                ],
                "summary": "Get reviewed submissions ready for content creation",
                "description": "Retrieve list of submissions that have been reviewed and approved, ready for content item creation",
                "operationId": "d16267d3fb6a44c6819debf802ab7cd4",
                "responses": {
                    "200": {
                        "description": "Reviewed submissions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Submission"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pengajuan": {
            "get": {
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Get all pengajuan",
                "description": "Get list of all pengajuan with content items",
                "operationId": "b49fb48e0c70cf6d4aa484fdfe2632d4",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Pengajuan"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Create new pengajuan",
                "description": "Create a new pengajuan with content items",
                "operationId": "c0750d63bc56521e673601a72b50711d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "noComtab",
                                    "tema",
                                    "judul"
                                ],
                                "properties": {
                                    "noComtab": {
                                        "type": "string",
                                        "example": "CT001"
                                    },
                                    "pin": {
                                        "type": "string",
                                        "example": "1234"
                                    },
                                    "tema": {
                                        "type": "string",
                                        "example": "Sample Tema"
                                    },
                                    "judul": {
                                        "type": "string",
                                        "example": "Sample Judul"
                                    },
                                    "jenisMedia": {
                                        "type": "string",
                                        "example": "Video"
                                    },
                                    "petugasPelaksana": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "supervisor": {
                                        "type": "string",
                                        "example": "Jane Doe"
                                    },
                                    "durasi": {
                                        "type": "string",
                                        "example": "30 menit"
                                    },
                                    "jumlahProduksi": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "tanggalOrder": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-08-06"
                                    },
                                    "tanggalSubmit": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-08-06"
                                    },
                                    "isConfirmed": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "workflowStage": {
                                        "type": "string",
                                        "example": "draft"
                                    },
                                    "contentItems": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "nama": {
                                                    "type": "string"
                                                },
                                                "jenisKonten": {
                                                    "type": "string"
                                                },
                                                "nomorSurat": {
                                                    "type": "string"
                                                },
                                                "narasiText": {
                                                    "type": "string"
                                                },
                                                "keterangan": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pengajuan created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pengajuan"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pengajuan/{id}": {
            "get": {
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Get specific pengajuan",
                "description": "Get pengajuan by ID with content items",
                "operationId": "13042a7cb17928f5b57516ae37600b5b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pengajuan"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pengajuan not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Update pengajuan",
                "description": "Update an existing pengajuan",
                "operationId": "cd7caf4807905cd8eae51e2e8a842e27",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "noComtab": {
                                        "type": "string"
                                    },
                                    "pin": {
                                        "type": "string"
                                    },
                                    "tema": {
                                        "type": "string"
                                    },
                                    "judul": {
                                        "type": "string"
                                    },
                                    "jenisMedia": {
                                        "type": "string"
                                    },
                                    "petugasPelaksana": {
                                        "type": "string"
                                    },
                                    "supervisor": {
                                        "type": "string"
                                    },
                                    "durasi": {
                                        "type": "string"
                                    },
                                    "jumlahProduksi": {
                                        "type": "integer"
                                    },
                                    "isConfirmed": {
                                        "type": "boolean"
                                    },
                                    "tanggalKonfirmasi": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "contentItems": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pengajuan updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pengajuan"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pengajuan not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Delete pengajuan",
                "description": "Delete a pengajuan by ID",
                "operationId": "681f0914c7574b7e164a2c2da4d080ed",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pengajuan deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Deleted"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pengajuan not found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Pengajuan": {
                "title": "Pengajuan",
                "description": "Pengajuan model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "no_comtab": {
                        "type": "string",
                        "example": "CT001"
                    },
                    "pin_sandi": {
                        "type": "string",
                        "example": "1234"
                    },
                    "tema": {
                        "type": "string",
                        "example": "Sample Tema"
                    },
                    "judul": {
                        "type": "string",
                        "example": "Sample Judul"
                    },
                    "jenis_media": {
                        "type": "string",
                        "example": "Video"
                    },
                    "media_pemerintah": {
                        "type": "string",
                        "example": "[]"
                    },
                    "media_massa": {
                        "type": "string",
                        "example": "[]"
                    },
                    "workflow_stage": {
                        "type": "string",
                        "example": "draft"
                    },
                    "petugas_pelaksana": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "supervisor": {
                        "type": "string",
                        "example": "Jane Doe"
                    },
                    "durasi": {
                        "type": "string",
                        "example": "30 menit"
                    },
                    "jumlah_produksi": {
                        "type": "integer",
                        "example": 1
                    },
                    "tanggal_order": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-08-06"
                    },
                    "tanggal_submit": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-08-06"
                    },
                    "tanggal_konfirmasi": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "is_confirmed": {
                        "type": "boolean",
                        "example": false
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "contentItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ContentItem"
                        }
                    }
                },
                "type": "object"
            },
            "Submission": {
                "title": "Submission",
                "description": "Submission model for form submissions",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "Sample Submission"
                    },
                    "description": {
                        "type": "string",
                        "example": "This is a sample submission"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "submitted",
                            "confirmed",
                            "review",
                            "validation",
                            "completed",
                            "rejected"
                        ],
                        "example": "draft"
                    },
                    "workflow_stage": {
                        "type": "string",
                        "enum": [
                            "form",
                            "review",
                            "validation",
                            "completed"
                        ],
                        "example": "form"
                    },
                    "assigned_to": {
                        "type": "integer",
                        "example": null,
                        "nullable": true
                    },
                    "assigned_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "review_status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "approved",
                            "rejected"
                        ],
                        "nullable": true
                    },
                    "review_notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "reviewed_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "reviewed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "validation_status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "validated",
                            "published",
                            "rejected"
                        ],
                        "nullable": true
                    },
                    "validation_notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "validated_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "validated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Attachment"
                        }
                    },
                    "contentItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ContentItem"
                        }
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "description": "User model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                    },
                    "username": {
                        "type": "string",
                        "example": "johndoe"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "admin",
                            "user",
                            "reviewer",
                            "validator",
                            "superadmin",
                            "form",
                            "review",
                            "validasi",
                            "rekap"
                        ],
                        "example": "user"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Attachment": {
                "title": "Attachment",
                "description": "File attachment model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "submission_id": {
                        "type": "integer",
                        "example": 1,
                        "nullable": true
                    },
                    "content_item_id": {
                        "type": "integer",
                        "example": 1,
                        "nullable": true
                    },
                    "uploaded_by": {
                        "type": "integer",
                        "example": 1
                    },
                    "original_name": {
                        "type": "string",
                        "example": "document.pdf"
                    },
                    "file_name": {
                        "type": "string",
                        "example": "unique-filename.pdf"
                    },
                    "file_path": {
                        "type": "string",
                        "example": "attachments/2025/08/unique-filename.pdf"
                    },
                    "file_url": {
                        "type": "string",
                        "example": "https://example.com/storage/attachments/2025/08/unique-filename.pdf",
                        "nullable": true
                    },
                    "disk": {
                        "type": "string",
                        "example": "public"
                    },
                    "mime_type": {
                        "type": "string",
                        "example": "application/pdf"
                    },
                    "file_extension": {
                        "type": "string",
                        "example": "pdf"
                    },
                    "file_size": {
                        "type": "integer",
                        "example": 1024000
                    },
                    "file_type": {
                        "type": "string",
                        "enum": [
                            "image",
                            "video",
                            "audio",
                            "document",
                            "other"
                        ],
                        "example": "document"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "uploading",
                            "completed",
                            "failed"
                        ],
                        "example": "completed"
                    },
                    "is_public": {
                        "type": "boolean",
                        "example": false
                    },
                    "download_count": {
                        "type": "integer",
                        "example": 0
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Review": {
                "title": "Review",
                "description": "Review model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "submission_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "reviewer_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "approved",
                            "rejected"
                        ],
                        "example": "approved"
                    },
                    "notes": {
                        "type": "string",
                        "example": "Review notes",
                        "nullable": true
                    },
                    "reviewed_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Validation": {
                "title": "Validation",
                "description": "Validation model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "submission_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "validator_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "validated",
                            "published",
                            "rejected"
                        ],
                        "example": "validated"
                    },
                    "notes": {
                        "type": "string",
                        "example": "Validation notes",
                        "nullable": true
                    },
                    "publish_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "published_content": {
                        "type": "object",
                        "nullable": true
                    },
                    "validated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "ContentItem": {
                "title": "Content Item",
                "description": "Content Item model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "pengajuan_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "nama": {
                        "type": "string",
                        "example": "Content Name"
                    },
                    "jenis_konten": {
                        "type": "string",
                        "example": "Video"
                    },
                    "nomor_surat": {
                        "type": "string",
                        "example": "001/2025"
                    },
                    "narasi_text": {
                        "type": "string",
                        "example": "Content description"
                    },
                    "keterangan": {
                        "type": "string",
                        "example": "Additional notes"
                    },
                    "status": {
                        "type": "string",
                        "example": "pending"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "description": "Enter token in format: Bearer {your-token}",
                "scheme": "bearer",
                "bearerFormat": "Token"
            }
        }
    },
    "tags": [
        {
            "name": "Attachments",
            "description": "Attachments"
        },
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Reviews",
            "description": "Reviews"
        },
        {
            "name": "Submissions",
            "description": "Submissions"
        },
        {
            "name": "User Management",
            "description": "User Management"
        },
        {
            "name": "Validations",
            "description": "Validations"
        },
        {
            "name": "Pengajuan",
            "description": "Pengajuan"
        }
    ],
    "security": [
        {
            "sanctum": []
        }
    ]
}